In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('customer.csv')
df['first_join_date'] = pd.to_datetime(df['first_join_date'])
df.head()

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
0,2870,Lala,Maryati,671a0865-ac4e-4dc4-9c4f-c286a1176f7e,671a0865_ac4e_4dc4_9c4f_c286a1176f7e@startupca...,F,1996-06-14,iOS,c9c0de76-0a6c-4ac2-843f-65264ab9fe63,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,Indonesia,2019-07-21
1,8193,Maimunah,Laksmiwati,83be2ba7-8133-48a4-bbcb-b46a2762473f,83be2ba7_8133_48a4_bbcb_b46a2762473f@zakyfound...,F,1993-08-16,Android,fb331c3d-f42e-40fe-afe2-b4b73a8a6e25,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,Indonesia,2017-07-16
2,7279,Bakiman,Simanjuntak,3250e5a3-1d23-4675-a647-3281879d42be,3250e5a3_1d23_4675_a647_3281879d42be@startupca...,M,1989-01-23,iOS,d13dde0a-6ae1-43c3-83a7-11bbb922730b,iPad; CPU iPad OS 4_2_1 like Mac OS X,-8.631607,116.428436,Nusa Tenggara Barat,Indonesia,2020-08-23
3,88813,Cahyadi,Maheswara,df797edf-b465-4a80-973b-9fbb612260c2,df797edf_b465_4a80_973b_9fbb612260c2@zakyfound...,M,1991-01-05,iOS,f4c18515-c5be-419f-8142-f037be47c9cd,iPad; CPU iPad OS 14_2 like Mac OS X,1.299332,115.774934,Kalimantan Timur,Indonesia,2021-10-03
4,82542,Irnanto,Wijaya,36ab08e1-03de-42a8-9e3b-59528c798824,36ab08e1_03de_42a8_9e3b_59528c798824@startupca...,M,2000-07-15,iOS,e46e4c36-4630-4736-8fcf-663db29ca3b0,iPhone; CPU iPhone OS 10_3_3 like Mac OS X,-2.980807,114.924675,Kalimantan Selatan,Indonesia,2021-04-11

In [3]:
df['first_join_date'].min()

Timestamp('2016-06-30 00:00:00')

In [4]:
df['first_join_date'].max()

Timestamp('2022-07-31 00:00:00')

In [6]:
df['customer_id'].nunique()

100000

### Filter only customer who have a first join date during the past year.

In [8]:
df = df[(df['first_join_date'] >= '2021-08-01') & (df['first_join_date'] <= '2022-07-31')]

In [9]:
df['first_join_date'].min()

Timestamp('2021-08-01 00:00:00')

In [10]:
df['first_join_date'].max()

Timestamp('2022-07-31 00:00:00')

In [11]:
df.shape

(24551, 15)

### Check for duplicates or null values in the data.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24551 entries, 3 to 99993
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         24551 non-null  int64
 1   first_name          24551 non-null  object
 2   last_name           24551 non-null  object
 3   username            24551 non-null  object
 4   email               24551 non-null  object
 5   gender              24551 non-null  object
 6   birthdate           24551 non-null  object
 7   device_type         24551 non-null  object
 8   device_id           24551 non-null  object
 9   device_version      24551 non-null  object
 10  home_location_lat   24551 non-null  float64
 11  home_location_long  24551 non-null  float64
 12  home_location       24551 non-null  object
 13  home_country        24551 non-null  object
 14  first_join_date     24551 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(11)
memory usage: 3.0+ MB

In [13]:
df.duplicated().sum()

0

### Drop the columns which will not be useful for my analysis.

In [14]:
df = df.drop(
    columns=[
        "username",
        "email",
        "device_id",
        "device_version",
        "home_location_lat",
        "home_location_long",
        "home_country",
        "first_name",
        "last_name",
        "birthdate"
    ]
)

In [15]:
df = df.drop(columns = 'home_location')

In [16]:
df.head()

    customer_id gender device_type first_join_date
3         88813      M         iOS      2021-10-03
7         96453      F     Android      2022-01-09
11        74362      F     Android      2022-06-18
21        65652      M     Android      2022-04-09
29        23711      F         iOS      2022-01-30

In [17]:
df.dtypes

customer_id                 int64
gender                     object
device_type                object
first_join_date    datetime64[ns]
dtype: object

### Convert the data types for some columns for more efficient performance and check the values in the gender column to make all the entries are ok.

In [18]:
df['gender'].value_counts()

gender
F    15933
M     8618
Name: count, dtype: int64

In [20]:
df['customer_id'] = df['customer_id'].astype('int32')     
df['gender'] = df['gender'].astype('category')                  
df['device_type'] = df['device_type'].astype('category')

In [21]:
df.dtypes

customer_id                 int32
gender                   category
device_type              category
first_join_date    datetime64[ns]
dtype: object

In [22]:
df.head()

    customer_id gender device_type first_join_date
3         88813      M         iOS      2021-10-03
7         96453      F     Android      2022-01-09
11        74362      F     Android      2022-06-18
21        65652      M     Android      2022-04-09
29        23711      F         iOS      2022-01-30

In [24]:
df.to_csv('customer_cleaned.csv', index=False)